@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700;800&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Lexend+Deca&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: hsl(235, 18%, 26%);
  min-height: 100vh;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  max-width: 796px;
  width: 70%;
  min-height: 60%;
  max-height: 620px;
  display: grid;
  grid-template-columns: 55% 45%;
  grid-template-rows: 100%;
  background-color: white;
  border-radius: 25px;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  /*classes to be added with javascript for form validation*/
}
.text .wrapper {
  height: 80%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 10px;
  gap: 1.85rem;
}
.text h1 {
  color: hsl(235, 18%, 26%);
  font-size: 38px;
  align-self: flex-start;
  color: hsl(234, 29%, 20%);
}
.text p {
  font-size: 14px;
}
.text .checks {
  width: 100%;
  margin: 0;
}
.text .checks li {
  margin: 0;
  margin-top: 7px;
  margin-bottom: 7px;
  display: flex;
  align-items: center;
}
.text .checks li img {
  width: 12px;
  margin-right: 7px;
}
.text .checks li p {
  font-size: 14px;
}
.text form .errMsg {
  display: none;
}
.text form p {
  font-size: 10px;
  font-weight: bold;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
}
.text form input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 0.3px solid hsl(235, 18%, 26%);
  margin-bottom: 15px;
}
.text form input ::-moz-placeholder {
  font-size: 10px;
}
.text form input ::placeholder {
  font-size: 10px;
}
.text form button {
  width: 100%;
  background-color: hsl(234, 29%, 20%);
  padding: 14px;
  color: white;
  font-weight: bold;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  transition: 0.3s;
}
.text button:hover {
  cursor: pointer;
  color: white;
  background-image: linear-gradient(135deg, rgb(239, 80, 118), rgb(243, 105, 59));
  box-shadow: 0px 5px 6px hsla(4, 100%, 67%, 0.702);
}
.text .err .errMsg {
  color: hsl(4, 100%, 67%);
  display: block;
}
.text .err input {
  background-color: hsla(4, 100%, 67%, 0.257);
  border: 1px solid hsl(4, 100%, 67%);
}

.image {
  padding: 5%;
}
.image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 9px;
}

/*success Message styles*/
.success {
  width: 300px;
  height: 340px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  background-color: white;
  padding: 15px;
  border-radius: 25px;
  display: none;
}
.success img {
  width: 35px;
}
.success p {
  font-size: 10px;
  letter-spacing: 1.2px;
  line-height: 13px;
}
.success .validEmail {
  font-weight: bold;
}
.success button {
  width: 100%;
  background-color: hsl(234, 29%, 20%);
  color: white;
  font-weight: bold;
  border: none;
  padding: 12px;
  border-radius: 5px;
  font-size: 9px;
  transition: 0.2s;
  cursor: pointer;
}

button:hover {
  background-image: linear-gradient(135deg, rgb(239, 80, 118), rgb(243, 105, 59));
  box-shadow: 0px 5px 6px hsla(4, 100%, 67%, 0.702);
}

@media screen and (max-width: 1200px) {
  main {
    max-width: 796px;
    width: 55%;
    height: 75%;
    max-height: 620px;
    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-rows: 100%;
    background-color: white;
    border-radius: 25px;
  }
}
@media screen and (max-width: 920px) {
  body {
    min-height: 100vh;
  }
  main {
    border-radius: 0;
    width: 100%;
    min-height: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 38% 61%;
  }
  .image {
    padding: 0;
    grid-row: 1/2;
  }
  .image img {
    border-radius: 0;
    border-radius: 0 0 30px 30px;
    border: 1px solid;
  }
  .text {
    padding: 0;
  }
  .text .wrapper {
    height: 100%;
    width: 80%;
    gap: 2.5rem;
  }
}/*# sourceMappingURL=style.css.map */